<a href="https://colab.research.google.com/github/albiummid/django-with-python-by-edge/blob/main/16_dec_practiceR2B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
x= 5
y='john'
print(x)
print(y)

5
john

In [3]:
x = str(3) # this is string
y = int(3) # this is integer
z = float(3) # this is float
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [7]:
# Cammel Case
firstName = input('Your first name :')
lastName = input("Your last name :")
print(f'Your full name is {firstName} {lastName}')

Your first name :h
Your last name :f'
Your full name is h f'

In [10]:
# Getting sizes of data types
import sys
x,y,z = 1,str(2),b'3'
print(f'value:{x} , type:{type(x)} , size: {sys.getsizeof(x)}')
print(f'value:{y} , type:{type(y)} , size: {sys.getsizeof(y)}')
print(f'value:{z} , type:{type(z)} , size: {sys.getsizeof(z)}')
# print(x,sys.getsizeof(x))
# print(y,sys.getsizeof(y))
# print(z,sys.getsizeof(z))

value:1 , type:<class 'int'> , size: 28
value:2 , type:<class 'str'> , size: 50
value:b'3' , type:<class 'bytes'> , size: 34

In [11]:
# Assign same value in multiple variable

x = y = z = "univeral"
print(x,y,z);

univeral univeral univeral

In [13]:
# f-string-literal
name = 'Albi Ummid Tanvir'
age  = 24

sentence1 = f"My name is {name}. I am {age} years old."
print(sentence1)
# text-format
sentence2 = "My name is {} . I am {} year old"
print(sentence2.format(name,age))

My name is Albi Ummid Tanvir. I am 24 years old.
My name is Albi Ummid Tanvir . I am 24 year old

In [15]:
# Scope - global/local

x = 'awesome'

def myFunc():
  global y
  y = 'fantastic'

  print("Python is "+x) #using local x

myFunc()


print("Python is "+y) #using global y

Python is awesome
Python is fantastic

In [6]:
#Data types
dt_string = 'Hello world'
dt_int = 20
dt_float = 20.5
dt_complex = 5j
dt_list = ['apple','banana',True,20,55.5]
dt_tupple = ("apple",'banana','cherry')
dt_range = range(100)
dt_dict = {"name":"albi","email":"albiummid@gmail.com","phone":"+8801755977522"}
dt_set = {'apple','banana','cherry'}
dt_frozenSet = (dt_set)
dt_bool = True
dt_bytes = b"Hello"
dt_byteArray = bytearray(5)
dt_memoryView = memoryview(bytes(5))
dt_NoneType = None


dataTypes  = [dt_string,dt_int,
                   dt_float,dt_complex,
                   dt_list,dt_tupple,
                   dt_range,dt_dict,
                   dt_set,dt_frozenSet,
                   dt_bool, dt_bytes,
                   dt_byteArray,dt_memoryView,
                   dt_NoneType
                   ];

for dataTypeValue in dataTypes:
  print(f'Type:{type(dataTypeValue)} \nValue: {dataTypeValue}\n\n')

Type:<class 'str'>
Value: Hello world


Type:<class 'int'>
Value: 20


Type:<class 'float'>
Value: 20.5


Type:<class 'complex'>
Value: 5j


Type:<class 'list'>
Value: ['apple', 'banana', True, 20, 55.5]


Type:<class 'tuple'>
Value: ('apple', 'banana', 'cherry')


Type:<class 'range'>
Value: range(0, 100)


Type:<class 'dict'>
Value: {'name': 'albi', 'email': 'albiummid@gmail.com', 'phone': '+8801755977522f'}


Type:<class 'set'>
Value: {'cherry', 'banana', 'apple'}


Type:<class 'set'>
Value: {'cherry', 'banana', 'apple'}


Type:<class 'bool'>
Value: True


Type:<class 'bytes'>
Value: b'Hello'


Type:<class 'bytearray'>
Value: bytearray(b'\x00\x00\x00\x00\x00')


Type:<class 'memoryview'>
Value: <memory at 0x789fcf124100>


Type:<class 'NoneType'>
Value: None

In [18]:
# Checking ASCII charecters and ASCII values in a list
[str(c)+"="+chr(c) for c in range(ord('a'),ord('z')+1) if c%2 == 0]

['98=b',
 '100=d',
 '102=f',
 '104=h',
 '106=j',
 '108=l',
 '110=n',
 '112=p',
 '114=r',
 '116=t',
 '118=v',
 '120=x',
 '122=z']

In [21]:

# Byte is memory efficient than string

word_as_bytes = bytes("cafe","utf-8")
word_as_string = "cafe"

print(f"Value: {word_as_string} , Type: {type(word_as_string)}, Size: {sys.getsizeof(word_as_string)}")
print(f"Value: {word_as_bytes} , Type: {type(word_as_bytes)}, Size: {sys.getsizeof(word_as_bytes)}")

Value: cafe , Type: <class 'str'>, Size: 53
Value: b'cafe' , Type: <class 'bytes'>, Size: 37

In [ ]:
# How to comvert bytes to a string