<a href="https://colab.research.google.com/github/albiummid/django-with-python-by-edge/blob/main/21_12_24_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Python Casting

# Integer types
x = int(1)
y = int(3.4)
# z = int("5.09") # float is not converting to integer
z = int("5")
print(x,y,z)

1 3 5

In [5]:
# Float
x = float(1)
y = float(2.8)
z = float("5")
w = float("5.08")
print(x,y,z,w)

1.0 2.8 5.0 5.08

In [7]:
# String
x = str("This is a string\n")
y = str("5.789")
z = str(2)
w = str(4.5)
print(x,y,z,w)

This is a string
 5.789 2 4.5

In [8]:
# Python string


# Qoutes inside qoute
print("It's a rainy day")
print("His name is John")
print("He is calling me johny!")

It's a rainy day
His name is John
He is calling me johny!

In [9]:
# Assigning string to a value
a = "Hello  world"
print(a)

Hello  world

In [10]:
# Multiline string
a = """
This is a double-qoute multiline
String which showing the pyhon multiline
string writtingbehaviour
"""

b = '''
This is a single-qoute multiline
String which showing the pyhon multiline
string writtingbehaviour
'''

print(a,b)

This is a double-qoute multiline
String which showing the pyhon multiline
string writtingbehaviour

This is a single-qoute multiline
String which showing the pyhon multiline
string writtingbehaviour

In [12]:
# String as ans Array
a = "Hello world"
print(a[1])

e

In [13]:
# Looping through string
sentence = "My name is Albi Ummid Tanvir"
for letter in sentence:
  print(letter)

M
y

n
a
m
e

i
s

A
l
b
i

U
m
m
i
d

T
a
n
v
i
r

In [14]:
# String Length
a_string = "Hello, Santosh"
print(len(a))

11

In [16]:
# Check string
txt = "I am a student of mathematics"
print("student" in txt)

if "mathematics" in txt:
  print("Student of Mathematics")

  if "worker" not in txt:
    print("He is not an worker")

True
Student of Mathematics
He is not an worker

In [21]:
# Slicing String
b = "Hello , world"

print(b[:3])
print(b[0:])
print(b[0:3])
print(b[-5:-2]) #Negetive indexing

txt = "Hello World"
print(txt[2:5])

Hel
Hello , world
Hel
wor
llo

In [22]:
# Modify string
a = "Hello, world"
# uppercase
print(a.upper())
# lowercase
print(a.lower())

# remove whitespace
print(a.strip())

# Replacing string
print(a.replace("H","M"))


# split string
print(a.split(","))

HELLO, WORLD
hello, world
Hello, world
Mello, world
['Hello', ' world']

In [23]:
# String concatenation
a = "Hello"
b = "World"
print(a+" "+b)

Hello World

In [25]:
# Python format method
age = 45
txt = "My name is john , my age is {}"
txt.format(age)

# F-string
print(f'My name is john and my age is {age}')

My name is john and my age is 45

In [26]:
# Escape charecters

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [28]:
# Boolean
print(15>8)
print(4>9)
print(True==False)

True
False
False

In [29]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [30]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [33]:
# Operators
x = 5
y = 10

print(
    x+y, #addition
    x-y,
    x*y,
    x/y,
    x%y,
    x**y,
    x//y
    )

15 -5 50 0.5 5 9765625 0

In [35]:
#
print("EDGE "*2**3)

EDGE EDGE EDGE EDGE EDGE EDGE EDGE EDGE

In [40]:
x = 5
x +=3
print(x)
x*=3
print(x)

x/= 4
print(x)

x %= 3
print(x)

x //= 3
print(x)

y=5
y ^= 3
print(y)

y >>= 3
print(y)

y <<= 3
print(y)

print(x:=3)

8
24
6.0
0.0
0.0
6
0
0
3