<a href="https://colab.research.google.com/github/albiummid/django-with-python-by-edge/blob/main/22DecTuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tupple
tupple1 = ("Albi","Ummid","Tanvir","Hassan","Tonoy")
tupple2 = (1,3,5,7,9)
tupple3 = (True,False,False,True)

for x in tupple1:
  print(f"Item: {x} , Index: {tupple1.index(x)}\n")
for x in tupple2:
  print(f"Item: {x} , Index: {tupple2.index(x)}\n")
for x in tupple3:
  print(f"Item: {x} , Index: {tupple3.index(x)}\n")

Item: Albi , Index: 0

Item: Ummid , Index: 1

Item: Tanvir , Index: 2

Item: Hassan , Index: 3

Item: Tonoy , Index: 4

Item: 1 , Index: 0

Item: 3 , Index: 1

Item: 5 , Index: 2

Item: 7 , Index: 3

Item: 9 , Index: 4

Item: True , Index: 0

Item: False , Index: 1

Item: False , Index: 1

Item: True , Index: 0

In [ ]:

# Define a tuple
example_tuple = (1, 2, 3, 3, 4, 5)

# Ordered: Access elements by index
print("First element:", example_tuple[0])  # Output: 1
print("Last element:", example_tuple[-1])  # Output: 5

# Unchangeable: Attempting to change an element raises an error
try:
    example_tuple[1] = 10  # This will raise an error
except TypeError as e:
    print("Error:", e)

# Allows duplicates: Tuple can have repeated elements
print("Original tuple:", example_tuple)  # Output: (1, 2, 3, 3, 4, 5)
print("Count of 3:", example_tuple.count(3))  # Output: 2

# Iterating over the tuple (demonstrating order)
for item in example_tuple:
    print(item, end=" ")  # Output: 1 2 3 3 4 5

First element: 1
Last element: 5
Error: 'tuple' object does not support item assignment
Original tuple: (1, 2, 3, 3, 4, 5)
Count of 3: 2
1 2 3 3 4 5

In [ ]:
# Length of tupple
tupple1 = ("Hello",4,5,"World")
print(len(tupple1))

4

In [ ]:
# Tupple with tupple() class
thisTupple = tuple(("Albi","Ummid","Tanvir"))
print(thisTupple)

('Albi', 'Ummid', 'Tanvir')

In [ ]:
# Get tupple from range
print(tuple(i for i in range(100+1)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [ ]:
# Access tupple items
thisTuple = ("Apple","Banana","Cherry")
print(thisTuple[0],thisTuple[2],thisTuple[-2])

Apple Cherry Banana

In [ ]:
# Range in tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5],'\n',thistuple[:5],'\n',thistuple[2:],'\n',thistuple[:])

('cherry', 'orange', 'kiwi')
 ('apple', 'banana', 'cherry', 'orange', 'kiwi')
 ('cherry', 'orange', 'kiwi', 'melon', 'mango')
 ('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "Jackfruit" in thistuple :
  print("Jack found")
else:
    print("Jack missing")

Jack missing

In [28]:
# Update tuple
# By defualt tuple cannot be changed
myTuple  = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
myTupleList = list(myTuple)

myTupleList[0] = "Jackfruit"
myTuple = tuple(myTupleList)
print(myTuple)

# Remove

myTupleList.remove("banana")
myTuple = tuple(myTupleList)
print(myTuple)


# Add
myTupleList.append("Pineapple")
myTuple = tuple(myTupleList)
print(myTuple)

('Jackfruit', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('Jackfruit', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('Jackfruit', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Pineapple')

In [36]:
# Unpack tupple / extract and present each item as a variable name
fruits = ("Apple","Orange","Banana")
(red,orange,yellow) = fruits
print(red,orange,yellow)

# useof asterisk
name = ("Albi","Ummid","Tanvir","Hassan","Tonoy")
(firstName,middleName,*lastNameAsList) = name
print(f"first name: {firstName}\n")
print(f"middle name: {middleName}\n")
print(f"last name list: {lastNameAsList}\n")

Apple Orange Banana
first name: Albi

middle name: Ummid

last name list: ['Tanvir', 'Hassan', 'Tonoy']